<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Game App</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/high.css" />
  </head>
  <body>
    <%# if(showHeader) { %>
    <!-- <header>
      <a class="logo" href="/"><img src="https://res.cloudinary.com/seunbayo/image/upload/v1598203403/20200823_181815_l1ysqn.png" alt="logo" /></a>
      <nav>
        <ul class="nav__links">
          <li>
            <h3><a href="/login">Login</a></h3>
          </li>
          <li>
            <h3><a href="/register">SignUp</a></h3>
          </li>
          <li>
            <h3><a href="/">Logout</a></h3>
          </li>
        </ul>
      </nav>

      <a class="cta" href="#">Contact</a>
      <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
       
        <a href="#">Contact</a>
      </div>
    </div> -->

    <%# } %>

