<!-- To include header.ejs -->
<%- include ("./partials/header" , { showHeader: true }) %>

<div class="container">
  <div id="home" class="flex-center flex-column">
    <a href="/" class="home"> <h1>Quiz App</h1> </a>

    <a href="/register" class="btn">Sign Up</a>
    <a href="/login" class="btn">Login</a>
  </div>
</div>

<!-- To include footer.ejs -->
<%- include ("./partials/footer") %>
